h1 {
    text-align: center;
    color: blueviolet;
    font-size: 40px;
    text-shadow: 5px 5px 5px aquamarine;
    text-transform: capitalize;
}

span{
    font-style: italic;
}

#p1 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif; /* Se ponen varias fuentes por buenas practias */
    font-weight: 600;
    font-style: italic; /* Se utiliza para la parte de la vista, si queremos dar enfasis debemos utilizar la etiqueta em en html */
    text-align: justify;
    text-indent: 30px; /* Para sangria */
    text-transform: uppercase;
}

#h2-1{
    font-variant: small-caps;
    text-align: right;
}

.red1{
    color: red;
    text-decoration: underline;
    letter-spacing: 5px;
}

.red2{
    color: red;
    text-decoration: overline;
    word-spacing: 20px;
}

.red3{
    color: red;
    text-decoration: line-through;
}

table, td{
    border: 1px solid black;
    height: 100px;
}

/* Estas propiedades se utilizan solo para alinear texto o elementos en linea*/

#top{
    vertical-align: top;
}

#mid{
    vertical-align: middle;
}

#bot{
    vertical-align: bottom;
}